ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


.social-network a.icoGithub:hover {
    background-color: rgb(12, 12, 12);
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoTwitter:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: #D3D3D3;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.icons {
    margin-left: 35px;
}

.text-large {
    font-size: 180%;
}

div .nounderline {
    text-decoration: none;
}

.p {
    margin-top: 100px;
}


.portfolio {
    color: rgba(233, 14, 58, 0.735);
    text-decoration: none;
}

.res-portfolio {
    color: rgb(20, 220, 87);
    text-decoration: none;
}

.bootstrap-portfolio {
    color: rgb(220, 20, 213);
    text-decoration: none;
}

.psychic-game {
    color: rgb(20, 200, 220);
    text-decoration: none;
}
.unit-4-game {
    color: rgb(220, 157, 20);
    text-decoration: none;
}

.trivia-game {
    margin-top: 20px;
    color: rgb(160, 220, 20);
    text-decoration: none;
}

.gif-tastic {
    color: rgb(120, 20, 220);
    text-decoration: none;
}

.train {
    color: rgb(220, 107, 20);
    text-decoration: none;
}

.date-night {
    color: rgb(247, 51, 208);
    text-decoration: none;
}

.liri-node-app {
    color: rgba(22, 20, 18, 0.858);
    text-decoration: none;
}

.binge {
    margin-top: 20px;
    color: rgba(16, 63, 206, 0.858);
    text-decoration: none;
}

.code-book {
    margin-top: 20px;
    color: rgba(242, 153, 45, 0.858);
    text-decoration: none;
}

.githubporjects {
    margin-top: -30px;
}
.githubporjects a{
    text-decoration: none;
    color: rgba(22, 20, 18, 0.858);
}
